[submodule "third-party/fhir-codegen"]
	path = codegen/fhir-codegen
	url = https://github.com/brendankowitz/fhir-codegen.git
	branch = r6-tolerant-parsing
[submodule "test/Ignixa.SqlOnFhir.Tests/sql-on-fhir-tests"]
	path = test/Ignixa.SqlOnFhir.Tests/sql-on-fhir-tests
	url = https://github.com/FHIR/sql-on-fhir.js.git
	branch = main
